body {
    width: 100%;
}

*{
    box-sizing: border-box;
    display: block;
}

title {
    display: none;
}

#main-container{
    margin: auto;
    padding: 15px;
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

#container1, #container3{
    background-color: #494949;
    color: rgb(255, 169, 222);
}

#heading{
    margin-top: 20px;
    background-color: #347B98;
}

#heading h1{
    margin: auto;
    color: white;
    text-align: center;
}

#startgame{
    background-color: rgb(255, 169, 222);
    color: rgb(83, 7, 49);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: none;
    display: block;
    margin-top: 10px;
    
}

#startgame:hover {
    background-color: rgb(255, 138, 210);
}


.original {
    background-color: rgb(255, 138, 210);
    border: rgb(255, 228, 140) 20px solid;
}

.original:hover{
    background-color:rgb(248, 160, 59);
    border-color:rgb(230, 65, 0);

}

.original h1 {
    display: none;
}

.match, .maybe {
    outline-color: black;
}

.maybe {
    background-color: rgb(103, 222, 238);
}

.match {
    background-color: rgb(9, 86, 138);
    color: white;
}

.maybe h1, .match h1{
    text-align: center;
}

@media screen and (max-width: 732px){
    #container3, #container1, #startgame{
        font-size: 15px;
    }

    .original, .maybe, .match {
        float: left;
        width: 18%;
        margin: 1%;
        height: 100px;
    }

    #heading{
        padding: 7px;
    }

    #timer{
        font-size: 25px;
    }

    #heading h1{
        font-size: 20px;
    }

    #container1 h1, #container2 h1, #container3 h1{
        font-size: 15px;
    }

    #timer{
        padding-left: 30px;
    }

    .bottom{
        padding-left: 25px;
    }

    .bottom:nth-child(1){
        border-bottom: #88ddff dashed 1.5px;
    }

    #main-container{
        width: 80%;
    }

    #startgame{
        width: 90%;
        font-size: 15px;
        font-weight:bold;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 733px){

    #main-container{
        width: 70%;
    }
    .original, .maybe, .match {
        float: left;
        width: 18%;
        margin: 1%;
        height: 200px;
    }

    #heading{
        padding: 30px;
    }

    .maybe h1, .match h1{
        margin-top: 50px;
    }

    .bottom, .top{
        width: 50%;
        float: left;
        padding: 5px 20px 5px 20px;
    }

    .bottom:nth-child(1), .top:nth-child(1){
        border-right: #88ddff dashed 3px;;
    }

    #heading h1{
        font-size: 30px;
    }

    #container1 h1, #container2 h1, #container3 h1{
        font-size: 20px;
    } 

    #startgame{
        width: 60%;
    }

    
}